.main {
  min-height : calc(100vh - 70px);
}

.skills{
margin-top: 50px;
height: 60%;
width: 100%;
display: flex;
justify-content: space-between;
}
.card {
width: 30%;
text-align: center;
min-height: 100%;
margin-top: 44px;
}
.devicon-ruby-plain {
  font-size: 100px;
}
.devicon-javascript-plain {
  font-size: 100px;
}
.devicon-html5-plain{
  font-size: 100px;
}
.devicon-css3-plain {
  font-size: 100px;
  text-decoration: none;
}
.graph{
  width: 70%;
  padding: 20px;
}
.avatar{
  height: 200px;
  width: 200px;
  margin:0 auto;
  background: url('../img/avatar.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  /* text-align: center; */
  /* margin-top: 10px; */
}
.txt{
  margin: 22px
}

.txt {
  height: 30%;
  color: #000;
}
.linkedIn{
  color: rgb(26, 96, 167);
  font-size: 60px;
}
.graph {
  margin-left: 20px;
}

header {
  position: fixed;
  top: 0px;
}

@media screen and (max-width: 992px) {
  nav > ul > li {
    display: none;
  }
  nav > span{
    display: block;
    color: white;
    }
  .graph {
    display: block;
  }
  .card {
    width:100%;
  }
  .skills {
    flex-direction: column;
  }

}
