@import 'navbar.css';
@import 'main.css';

a, a:hover{
  text-decoration: none;
  color: var(--darkPink);
}
:root {
  --darkBlue:#1B2855;
  --darkPink:#E31B6D;
  --lightBlue:#85BBE5;
  --skyBlue:#E6F0FA;
  }
html{
  scroll-behavior: smooth;
}
  .container{
    height: 100vh;
  }
  .main-heading{
    text-align: center;
    padding: 100px 0 30px 0;
  }
  .intro {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CEEDFB;
  }
  header span{
    display: none;
  }
  .hamburgerMenu{
    display: none;

  }

  .midPage span{
    color: var(--darkPink);
    font-family: 'Montserrat', sans-serif;
  }
  .midPage h3{
    color: var(--darkBlue);
    font-weight: bold; 
    padding-bottom: 30px;
    letter-spacing: 3px;
    font-size: 35px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  .mainButton{
    width: 148px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    color:var(--darkBlue);
  }
  .mainButton a {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    color: var(--darkBlue);
  }
  .midPage{
    width: 24%;
  }
.technology{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.web-technology {
  width: 10%;
  height: 100%;
}

.projectsNav {
width: 60%;
margin: 0 auto;
}
.projectsNav ul {
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.projectsNav > ul > li > a {
  color: black;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
.projectsDiv {
  width:60%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #fff;
  margin: 0 auto;
}
.projectsDiv .a {
  font-size: 150px;
  color: green;
  padding: 0px 50px 0px 50px;
}
.projectsDiv .b {
  font-size: 150px;
  padding: 0px 50px 0px 50px;
}
.projectsDiv .c{
  font-size: 150px;
  padding: 0px 50px 0px 50px;
}
.projectsDiv .d{
  font-size: 150px;
  padding: 0px 50px 0px 50px;
}
.projectsDiv .e{
  font-size: 150px;
  padding: 0px 50px 0px 50px;
}
.projectsDiv .f{
  font-size: 150px;
  padding: 0px 50px 0px 50px;
}

.box {
  color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.graph{
  margin:0 auto;
  width: 50vw;
}
.graph h1 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
}
.graph h2{
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}
.hamburgerMenu{
  display: none;
}
.line{
  height: 25px;
  width: 90%;
  margin:0 auto 10px;
  line-height: 25px;
  font-size: 14px;
  color: #fff;
  padding: 0 0 0 10px;
  position: relative;
}
.line:before {
  content:'';
  width: 100%;
  position: absolute;
  left:0px;
  height: 25px;
  top:0px;
  z-index:-2;
  background: #d2d6d7;

}
.line:after{
  content:'';
  background: #333;
  height: 25px;
  transition: 0.8s; 
  display: block;
  width: 100%; 
  animation: animate 1 2s;
  position: absolute;
  top:0px;
  left:0px;
  z-index: -1;
}
.line1:after{
  max-width: 90%;
}

.line2:after{
  max-width: 70%;
}
.line3:after{
  max-width: 75%;
}
.line4:after{
  max-width: 80%;
}
@keyframes animate{
  0%{
    width: 0; 
  }
  100%{
    width: 100%;
  }
}

/* -----------------------------------------------------------------------
                            FORM
----------------------------------------------------------------------- */

body {
  background-color: #eee;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  color: #222;
}
.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
#form {
  max-width: 700px;
  padding: 2rem;
  box-sizing: border-box;
  border: 5px solid #eee;
  background-color: rgb(202, 225, 243);
  border-radius: 20px;
}

.form-field {
  display: flex;
  margin: 0 0 1rem 0;
}
input {
  width: 70%;
  padding: 0.5rem;
  box-sizing: border-box;
  justify-content: space-between;
  font-size: 1.1rem;
  border: 2px solid rgb(173, 201, 238);
  border-radius: 3px;
  width: 280px;
}

input[type=submit]{
  background-color: var(--darkBlue);
  color: white;
}
/* -------------------------------------------------------------------------------------
                                 Footer
------------------------------------------------------------------------------------- */
footer{
  position: absolute;
  bottom:0px;
  width: 100%
}
footer ul{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color:var(--darkBlue);
}

footer ul li {
  padding: 0 20px;
}


/* -------------------------------------------------------------------------------------
                                 MEDIA QUERIES
------------------------------------------------------------------------------------- */


@media screen and (max-width: 992px) {
  .midPage{
    width:80%;
  }
  header > span{
    display: block;
    color:white;
    margin-top: 20px;
    margin-right: 30px;
    float: right;
    font-size: 20px;
  }
  .hamburgerMenu{
    display: block;
    color: black;
  }
  .showme {
    display: none;
  }
  
  .showhim:hover .showme {
    display: block;
  }
  .hamburgerMenu ul{
    height: 200px;
    background-color: grey;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right:40px;
    width: 30%;
    background-color: var(--darkBlue);
    display: block;
    text-align: center;
    display: block;
  }

  .hamburgerMenu ul li {
    color: white;
    border-bottom: 1px;
    border-bottom: 1px dotted var(--darkPink);
    padding: 10px 0px;
  }

  .technology {
    /* width: 90%; */
    width: 90%;
  }
  .devicon-ruby-plain {
    font-size: 70px;
  }
  .devicon-javascript-plain {
    font-size: 70px;
  }
  .devicon-html5-plain{
    font-size: 70px;
  }
  .devicon-css3-plain {
    font-size: 70px;
    text-decoration: none;
  }
  .projectsNav{
    display:none;
  }
  .projectsDiv {
    height:80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
    text-align: center;
  }
  .projectsDiv .a {
    font-size: 100px;

  }
  .projectsDiv .b {
    font-size: 100px;

  }
  .projectsDiv .c{
    font-size: 100px;

  }
    .projectsDiv .d{
      font-size: 100px;

    }
    .projectsDiv .e{
      font-size: 100px;

    }
    .projectsDiv .f{
      font-size: 100px;

    }
  .box {
    color: #fff;
    border-radius: 5px;
    padding: none;
  }
  body {
    background-color: #eee;
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    color: #222;
  }
  .form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
  }
  .graph{
    padding:0px;
  }
}

@media screen and (max-width: 678px) {
  .projectsDiv{
    display: grid;
    grid-template-columns: 1fr;
    background-color: #fff;
    text-align: center;
  }
  .projectsDiv .a {
    height: 100px;
    font-size: 100px;
    padding-bottom:10px;

  }
  .projectsDiv .b {
    height: 100px;
    font-size: 100px;
    padding-bottom:10px;

  }
  .projectsDiv .c{
    height: 100px;
    font-size: 100px;
    padding-bottom:10px;

  }
    .projectsDiv .d{
      height: 100px;
      font-size: 100px;
      padding-bottom:10px;

    }
    .projectsDiv .e{
      height: 100px;
      font-size: 100px;
      padding-bottom:10px;

    }
    .projectsDiv .f{
      height: 100px;
      font-size: 100px;
      padding-bottom:10px;

    }
    .graph{
      padding:0px;
    }
}
@media screen and (max-width: 350px) {
  .projectsDiv{
    display: grid;
    grid-template-columns: 1fr;
    background-color: #fff;
    text-align: center;
  }
  .graph{
    padding:0px;
  }
  .main-heading{
    padding:0px;
  }
}
@media screen and (max-width: 320px) {
  input{
    width: 250px;
  }
.graph{
  display: block;
}
.main-heading{
  padding: 0px;
}
}

@media screen and (max-width: 360px) {
  .main-heading{
    padding-top: 78px;
  }
  .desktop-nav{
    display: none;
  }
}